@tailwind base;
@tailwind components;
@tailwind utilities;

/* small global tweaks */
html, body, #root {
	height: 100%;
}
body {
	@apply bg-gray-50 text-gray-800;
	font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* card shadow */
.card-shadow {
	box-shadow: 0 6px 18px rgba(16,24,40,0.06);
}
